body{

	margin: 0;
	padding: 0;
	text-align: center;
}

.container{

	width: 950px;
	margin-left: 200px;
	margin-right: 200px

}

			/***this eliment used for toogle
	slide and fadeIN fadeOut method on jq
.demo1{

	width: 500px;
	height: 200px;
	display: none;
	margin-left: 220px;
}

.demo2{

	width: 500px;
	height: 200px;
	display: none;
	margin-left: 220px;
}


.demo3{

	width: 500px;
	height: 200px;
	display: none;
	margin-left: 220px;
}



.demo1 img{

	width: 100%;
	height:100%; 
	object-fit: cover;
	
	
 }/*Responsive image widt 100% and higth 50%  and also  object-fit: cover;*/

/*
.demo2 img{

	width: 100%;
	height:100%px; 
	object-fit: cover;
	
	
 }/*Responsive image widt 100% and higth 50%  and also  object-fit: cover;	*/


/*
.demo3 img{

	width: 100%;
	height:100%; 
	object-fit: cover;
	
	
 }/*Responsive image widt 100% and higth 50%  and also  object-fit: cover;*/

/***
 .for_btm {
 	width:100%;
 	margin: 0;
 	padding: 50;



 }


.for_btm .btm{

	float: left;
	padding:10px;
	margin-left: 300px;
}

.for_btm .hide{

	margin-right:40%;
	padding: 10px;
	
	
}				***/

.setup{
	height: 200px;
	width: 200px;
	background-color: pink;
	margin-left: 380px;
	margin-bottom: 15px;
}

.h1 h1{

	margin-bottom: 0;
	padding-top: 70px;

}

.h2{
	height: 200px;
	width: 200px;
	background-color: black;
}






